= provide(:title, 'Yritykset')

%h1 Yritykset

= will_paginate
.container.bordered
  - @firms.each do |firm|
    = render firm

= will_paginate

- if is_admin?
  = link_to new_firm_path do
    %i.icon-plus
    Lisää yritys
