- provide(:title, 'Luo yritys')
%h1 Luo yritys
.row
  .span6.offset3
    = form_for @firm do |f|
      = render 'shared/firm_error_messages'
      %p
        = f.label :name, "Nimi"
        = f.text_field :name 
      
        = f.label :corporate_id, "Y-tunnus" 
        = f.text_field :corporate_id
      
        = f.label :location, "Sijainti"
        = f.text_field :location
       
        = f.label :address, "Osoite"
        = f.text_field :address 
         
        = f.label :account_number, "Tilinumero"
        = f.text_field :account_number
         
      = fields_for :resource do |b|
        = b.label :description, "Kuvaus"
        = b.text_field :description
      
      %h4 Lisää käyttäjät:
      %p#firm_users
          
      %p.well  
        = select("post", "user_id", User.all.collect {|u| [ u.email, u.id ] }, {:prompt => 'Valitse käyttäjä'})
        = button_to_function "Lisää", "add_user_to_firm(event)", :class => "btn btn-mini"
      
      = f.submit "Luo yritys", class: "btn btn-large btn-primary"
