- provide(:title, "Kirjaudu")
%h1 Kirjaudu
.row
  .span6.offset3
    = form_for(:session, url: sessions_path) do |f|
      
      = f.label :email, "Sähköposti" 
      = f.text_field :email 
    
      = f.label :password, "Salasana"
      = f.password_field :password 
     
      = f.submit "Kirjaudu", class: "btn btn-large btn-primary"
    
    %p Oletko uusi? #{link_to "Luo käyttäjä!", signup_path}
