= provide(:title, 'Tilaukset')

%h1 Tilaukset

.container
  .span8.offset2
    = render "shared/nav"

= will_paginate

.container
  .span8.offset2.bordered
    = link_to :controller => "bakeryorders", :action => "new", :bakery_id => @bakery.id do
      %i.icon-plus
      Lisää tilaus
    %table.table
      %thead
        %th
        %th Nro
        %th Kuvaus
        %th Tilauspäivä
        %th Toimitustapa
        %th Tila
        
      %tbody
        - @bakeryorders.each do |bakeryorder|
          %tr  
            %td= link_to "Näytä", bakeryorder
            %td= bakeryorder.id
            - if bakeryorder
              %td= bakeryorder.order.description
              %td= bakeryorder.created_at.to_date
              %td= bakeryorder.delivery_type
              %td= bakeryorder.state
              %td
                = link_to :controller => "bakeryorders", :action => "edit", :id => bakeryorder.id do
                  %i.icon-edit
              %td
                = link_to bakeryorder, method: :delete, confirm: "Haluatko varmasti poistaa tilauksen?" do
                  %i.icon-remove

= will_paginate

.container
  .span8.offset2
    = link_to :controller => "bakeryorders", :action => "new", :bakery_id => @bakery.id do
      %i.icon-plus
      Lisää tilaus

