= provide(:title, 'Tilaukset')

%h1 Tilaukset

.container
  .span8.offset2
    = render "shared/nav"

= will_paginate

.container
  .span8.offset2.bordered
    %table.table
      %thead
        %th Nro
        %th Kuvaus
        %th Tilausp채iv채
        %th Toimitustapa
        %th Tila
        %th Muokkaa
      %tbody
        - @bakeryorders.each do |bakeryorder|
          %tr  
            %td= link_to bakeryorder.id, bakeryorder
            - if bakeryorder
              %td= bakeryorder.order.description
              %td= bakeryorder.created_at.to_date
              %td= bakeryorder.delivery_type
              %td= bakeryorder.state
              %td
                = link_to :controller => "bakeryorders", :action => "edit", :id => bakeryorder.id do
                  %i.icon-edit

= will_paginate

.container
  .span8.offset2
    = link_to :controller => "bakeryorders", :action => "new", :bakery_id => @bakery.id do
      %i.icon-plus
      Lis채채 tilaus

