- provide(:title, "Tilaus #{@bakeryorder.id}")

.container
  .span8.offset2
    .row.bordered

      %h2.bordered-bottom Tilaus
        
      %table.table.table-striped
        %caption.align-left 
          %b Tilaaja:
        %tbody
          - if @bakeryorder.order.client
            %tr
              %td.span4= link_to @bakeryorder.order.client.name, @bakeryorder.order.client
            %tr
              %td.span4= @bakeryorder.order.client.address
            %tr
              %td.span4= @bakeryorder.order.client.city  
      
      %table.table.table-striped
        %tbody
          - if @bakeryorder.order
            %tr 
              %td Tilausnro:
              %td.span4= @bakeryorder.id
            
            %tr
              %td Kuvaus:
              %td.span4= @bakeryorder.order.description
            
            %tr
              %td Tila:
              %td.span4= @bakeryorder.state
            %tr
              %td Toimitustapa:
              %td.span4= @bakeryorder.delivery_type
            %tr 
              %td Tilauksen pvm:
              %td.span4= @bakeryorder.created_at.to_date
            %tr 
              %td Kokonaishinta:
              %td.span4.green #{@bakeryorder.get_total_amount.round(2)} €
              
              
      %table.table.table-striped
        %caption.align-left 
          %b Sisältää:
          
        %thead.blue
          %th.span4 Tuote
          %th Määrä (kpl)
          %th Asiakashinta (€)
          %th Hinta (€)
          
        %tbody
          - @bakeryorder.recipes.each do |recipe|
            %tr
              %td.span4= link_to recipe.name, product_path(recipe)
              - amount = @bakeryorder.bakeryorderrecipes.find_by_recipe_id(recipe.id).amount
              %td= amount
              - price_line = @client_prices.find_by_recipe_id recipe.id
              - if price_line
                %td= (price_line.price * amount).round(2)
              - else
                %td
              %td= @bakeryorder.bakeryorderrecipes.find_by_recipe_id(recipe.id).price.round(2)
              
      = link_to :controller => "bakeryorders", :action => "edit", :id => @bakeryorder.id do
        %i.icon-edit
        Muokkaa
      
      %a.nav-link{href: "#", onclick: "window.print()"}
        %i.icon-print.margin-left10
        Tulosta
