= provide(:title, 'Raaka-aineet')

%h1 Raaka-aineet

.container
  .span6.offset3
    = render "shared/nav"

= will_paginate

.container
  .span6.offset3.bordered
    = link_to :controller => "substances", :action => "new", :huslab_id => @huslab.id do
      %i.icon-plus
      Luo raaka-aine
      
    %table.table#simpleTableWithoutSearch
      %thead
        %th Nimi
        %th Tyyppi
        %th
        %th
        
      %tbody
        - @substances.each do |substance|
          %tr
            %td= link_to substance.product_name, substance
            %td= substance.substanceType
            %td
              = link_to :controller => "substances", :action => "edit", :id => substance.id do
                %i.icon-edit
            %td{:id => 'removalContainer'+substance.id.to_s}
              = link_to 'Poista','', :onclick => 'revealRemoval(event,"substances",'+substance.id.to_s+')'

= will_paginate

