- provide(:title, 'Lisää raaka-aine')
%h1 Lisää raaka-aine

.container
  .span6.offset3
    = render "shared/nav"
    
.row
  .span6.offset3.well
    = form_for @substance do |f|
      //= render 'shared/material_error_messages'
      %p
        = f.label :substanceType, "Tyyppi"
        = f.select :substanceType, ['Generaattori', 'Kitti', 'Muu']
        = f.label :generic_name, "Geneerinen nimi"
        = f.text_field :generic_name
        = f.label :product_name, 'Tuotenimi'
        = f.text_field :product_name
        = f.label :manufacturer, "Valmistaja"
        = f.text_field :manufacturer
        = f.label :supplier, "Toimittaja"
        = f.text_field :supplier
        = f.label :alert_amount, 'Varoituksen alaraja (ampullien lkm)'
        = f.text_field :alert_amount
        = f.label :alert_days, 'Varoituksen alaraja (päivien lkm)'
        = f.text_field :alert_days
        = f.label :half_life, 'Hajoamisvakio (=ln2/t1/2, [1/h])'
        = f.text_field :half_life

          
      = hidden_field_tag :huslab_id, @huslab.id
      
      = f.submit "Luo raaka-aine", class: "btn btn-large btn-primary"
