- provide(:title, 'Muokkaa tuote')

%h2.pull-left Muokkaa tuotetta

.container
  .span12
    = render "shared/nav"

.row
  .span12.outline
    = form_for @recipe do |f|
      = render 'shared/recipe_error_messages'
      
      .span3
        %fieldset.span3
          = f.label :name, "Nimi"
          = f.text_field :name
          
          = f.label :get_price, "Hinta (€)"
          = f.text_field :get_price, disabled: true, class: "span2"
        
          = f.label :coverage, "Kate-%"
          = f.text_field :coverage, class: "span2"
        
          = hidden_field :recipe, :product, { value: true }
          
        .span3
          = f.submit "Tallenna", class: "btn btn-primary"
        
      .span4
        %fieldset.span3
          %label Reseptit
          = select("post", "subrecipe_id", @safe_recipes.collect {|r| [ r.name, r.id ] }, {:prompt => 'Valitse resepti'})
          = fields_for :subrecipe do |h|
            = h.label :amount, "Määrä (kpl)"
            = h.text_field :amount, min: 0, class: "span2"
          
          = button_to_function "Lisää", "add_subrecipe(event)", :class => "btn btn-mini"
      
          = fields_for :subrecipe do |h|
            = h.label :amount_grams, "Määrä (g)"
            = h.text_field :amount_grams, min: 0, class: "span2"
          
          = button_to_function "Lisää", "add_subrecipe_grams(event)", :class => "btn btn-mini"
          
      .span4
        %table.table.recipes
          %thead
            %th Sisältää reseptit:
          %tbody
            - @recipe.hasrecipes.each do |subrecipe|
              %tr{:id => "#{subrecipe.subrecipe_id}"}
                %td
                  - res = Recipe.find(subrecipe.subrecipe_id)
                  = hidden_field_tag "old_recipes[#{subrecipe.subrecipe_id}, #{subrecipe.amount}]", subrecipe.amount
                  = link_to res.name, res
                  , #{ subrecipe.amount.round(0) } kpl
                %td
                  %a.nav-link{href: "#", onclick: "remove_table_element(#{subrecipe.subrecipe_id})"}
                    %i.icon-remove
                
      .span4
        %table.table
          %thead.green
            %th Lisättävät reseptit:
            %th
          %tbody#recipe_subrecipes
          - @added_recipes.each do |recipe|
            %tr{id: "#{recipe[0].id}"}
              %td
                = link_to recipe[0].name, recipe[0]
                , #{recipe[1]} g
                = hidden_field_tag "new_recipes[#{recipe[0].id}, #{recipe[1]}]", recipe[1]
              %td
                %a.nav-link{href: "#", onclick: "remove_table_element(#{recipe[0].id})"}
                  %i.icon-remove
      
  .span10
    = link_to "Kaikki tuotteet", products_path(:bakery_id => @bakery.id)
    |
    = link_to "Poista tuote", @recipe, method: :delete, confirm: "Haluatko varmasti poistaa tuotteen?"
