- provide(:title, 'Muokkaa resepti')

%h1 Muokkaa reseptiä

.container
  .span12
    = render "shared/nav"

.row
  .span12.outline
    = form_for @recipe do |f|
      = render 'shared/recipe_error_messages'
      
      .span3
        %fieldset.span3
          = f.label :name, "Nimi"
          = f.text_field :name 
          
          = f.label :get_price, "Laskennallinen hinta (€)"
          = f.text_field :get_price, disabled: true
      
        %fieldset.span3  
          %label Alireseptit
          - values = @safe_recipes.collect {|r| [ r.name, r.id ] }
          - values = values.sort_by { |obj| obj[0].capitalize }
          = select("post", "subrecipe_id", values, {:prompt => 'Valitse resepti'})
          = #select("post", "subrecipe_id", @safe_recipes.collect {|r| [ r.name, r.id ] }, {:prompt => 'Valitse resepti'})
          
          = fields_for :subrecipe do |h|
            = h.label :amount, "Määrä (kpl)"
            = h.number_field :amount, min: 0, class: "span2"
          
          = button_to_function "Lisää", "add_subrecipe(event)", :class => "btn btn-mini"
        
          = fields_for :subrecipe do |h|
            = h.label :amount_grams, "Määrä (g)"
            = h.number_field :amount_grams, min: 0, class: "span2"
          
          = button_to_function "Lisää", "add_subrecipe_grams(event)", :class => "btn btn-mini"
          
          = f.submit "Tallenna", class: "btn btn-primary"
          
      .span4    
        %fieldset.span3
          %label Raaka-aineet
          - materials = @bakery.materials.collect {|r| [ r.name, r.id ] }
          - materials = materials.sort_by { |obj| obj[0].capitalize }
          = select("post", "material_id", materials, {:prompt => 'Valitse raaka-aine'})
          = #select("post", "material_id", @bakery.materials.collect {|m| [ m.name, m.id ] }, {:prompt => 'Valitse raaka-aine'})
          
          = fields_for :material do |h|
            = h.label :amount, "Määrä (g)"
            = h.number_field :amount, min: 0, class: "span2"
          
          = button_to_function "Lisää", "add_material(event)", :class => "btn btn-mini"
        
      .span4
        %table.table.recipes
          %thead
            %th Sisältää reseptit:
          %tbody
            - @recipe.hasrecipes.each do |subrecipe|
              %tr{:id => "#{subrecipe.subrecipe_id}"}
                %td
                  - res = Recipe.find(subrecipe.subrecipe_id)
                  = hidden_field_tag "old_recipes[#{subrecipe.subrecipe_id}, #{subrecipe.amount}]", subrecipe.amount
                  = link_to res.name, res
                  , #{ subrecipe.amount.round(0) } kpl
                %td
                  %a.nav-link{href: "#", onclick: "remove_table_element(#{subrecipe.subrecipe_id})"}
                    %i.icon-remove
                    
        %table.table.materials
          %thead
            %th Sisältää raaka-aineet:
          %tbody
            - @recipe.hasmaterials.each do |material|
              %tr{:id=> "#{material.material_id}"}
                %td
                  - mat = Material.find(material.material_id)
                  = hidden_field_tag "old_materials[#{material.material_id}, #{material.amount}]", material.amount
                  = link_to mat.name, mat
                  , #{material.amount} g
                %td
                  %a.nav-link{href: "#", onclick: "remove_table_element(#{material.material_id})"}
                    %i.icon-remove
        
        %table.table.well
          %thead.green
            %th Lisättävät alireseptit:
            %th
          %tbody#recipe_subrecipes
          - @added_recipes.each do |recipe|
            %tr{id: "#{recipe[0].id}"}
              %td
                = link_to recipe[0].name, recipe[0]
                , #{recipe[1]} g
                = hidden_field_tag "new_recipes[#{recipe[0].id}, #{recipe[1]}]", recipe[1]
              %td
                %a.nav-link{href: "#", onclick: "remove_table_element(#{recipe[0].id})"}
                  %i.icon-remove

        %table.table.well
          %thead.green
            %th Lisättävät raaka-aineet:
            %th
          %tbody#recipe_materials
          - @added_materials.each do |material|
            %tr{id: "#{material[0].id}"}
              %td
                = link_to material[0].name, material[0]
                , #{material[1]} g
                = hidden_field_tag "new_materials[#{material[0].id}, #{material[1]}]", material[1]
              %td
                %a.nav-link{href: "#", onclick: "remove_table_element(#{material[0].id})"}
                  %i.icon-remove 
      
  .span10
    = link_to "Kaikki reseptit", :controller => "recipes", :action => "index", :bakery_id => @bakery.id
    |
    = link_to "Poista resepti", @recipe, method: :delete, confirm: "Haluatko varmasti poistaa reseptin?"
