= provide(:title, 'Tuotteet')

%h1 Tuotteet

.container
  .span6.offset3
    = render "shared/nav"

.span6.offset3
  = will_paginate

.container
  .span6.offset3.bordered
    = link_to new_product_path(:bakery_id => current_user.primary_firm.resource.id) do
      %i.icon-plus
      Lisää tuote
    
    %table.table.table-striped
      %thead
        %th Nimi
        %th Laskennallinen hinta
        %th Myyntihinta
        
      %tbody
        - @recipes.each do |recipe|
          %tr
            %td= link_to recipe.name, product_path(recipe)
            %td 
              = recipe.get_price
              €
            %td 
              = recipe.get_taxed_price
              €
            %td
              = link_to edit_product_path(recipe) do
                %i.icon-edit
            %td
              = link_to product_path(recipe), method: :delete, confirm: "Haluatko varmasti poistaa tuotteen?" do
                %i.icon-remove
.container
  .span6.offset3
    = link_to new_product_path(:bakery_id => current_user.primary_firm.resource.id) do
      %i.icon-plus
      Lisää tuote
    
  .span6.offset3
    = will_paginate

