= provide(:title, 'Reseptit')

%h1 Reseptit

.container
  .span6.offset3
    = render "shared/nav"

.span6.offset3
  = will_paginate

.container
  .span6.offset3.bordered
    = link_to :controller => "recipes", :action => "new", :bakery_id => @bakery.id do
      %i.icon-plus
      Lisää resepti
    %table.table.table-striped
      %thead
        %th Nimi
        %th Laskennallinen hinta
        %th Kilohinta
       
      %tbody
        - @recipes.each do |recipe|
          %tr
            - price = recipe.get_price
            %td= link_to recipe.name, recipe
            %td 
              = price
              €
            %td
              = (price/(recipe.get_weight/1000)).round(2)
              €
            %td
              = link_to :controller => "recipes", :action => "edit", :id => recipe.id do
                %i.icon-edit
            %td
              = link_to recipe, method: :delete, confirm: "Haluatko varmasti poistaa reseptin?" do
                %i.icon-remove
.container
  .span6.offset3
    = link_to :controller => "recipes", :action => "new", :bakery_id => @bakery.id do
      %i.icon-plus
      Lisää resepti

  .span6.offset3
    = will_paginate

