- provide(:title, 'Luo tuote')
  
%h1 Luo tuote

.container
  .span10.offset1
    = render "shared/nav"
    
.row
  .span10.offset1.well
    = form_for @recipe do |f|
      = render 'shared/recipe_error_messages'
      
      %fieldset.span4
        = f.label :name, "Nimi" 
        = f.text_field :name 
        
        = f.label :coverage, "Kate-%"
        = f.text_field :coverage
        
        = hidden_field_tag :bakery_id, @bakery.id
      
        = hidden_field :recipe, :product, { value: true }
        
        %fieldset.well  
          %legend Tuotteet
          = select("post", "subrecipe_id", @bakery.recipes.collect {|r| [ r.name, r.id ] }, {:prompt => 'Valitse tuote'})
          = fields_for :subrecipe do |h|
            = h.label :amount, "Määrä (kpl)"
            = h.number_field :amount, min: 0
          
          = button_to_function "Lisää", "add_subrecipe(event)", :class => "btn btn-mini"
        
      .span4.well
        %table.well.table.table#recipe_subrecipes
          %thead.green
            %th Lisättävät tuotteet:
            %th
        %tbody
        
      .span8  
        = f.submit "Luo tuote", class: "btn btn-large btn-primary"
    
