- provide(:title, 'Luo resepti')
  
%h1 Luo resepti

.container
  .span10.offset1
    = render "shared/nav"
    
.row
  .span10.offset1.well
    = form_for @recipe do |f|
      = render 'shared/recipe_error_messages'
      
      .span5
        = f.label :name, "Nimi" 
        = f.text_field :name 
        
        = hidden_field_tag :bakery_id, @bakery.id
      
        .well  
          = select("post", "subrecipe_id", @bakery.recipes.collect {|r| [ r.name, r.id ] }, {:prompt => 'Valitse resepti'})
          = fields_for :subrecipe do |h|
            = h.label :amount, "Määrä (kpl)"
            = h.number_field :amount, min: 0
          
          = button_to_function "Lisää", "add_subrecipe(event)", :class => "btn btn-mini"
          
        .well  
          = select("post", "material_id", @bakery.materials.collect {|m| [ m.name, m.id ] }, {:prompt => 'Valitse raaka-aine'})
          = fields_for :material do |h|
            = h.label :amount, "Määrä (g)"
            = h.number_field :amount, min: 0
     
          = button_to_function "Lisää", "add_material(event)", :class => "btn btn-mini"
        
      .span4  
        %table.well.table.table#recipe_subrecipes
          %thead.green
            %th Lisättävät reseptit:
            %th
        %tbody
        
        %table.well.table.table#recipe_materials
          %thead.green
            %th Lisättävät raaka-aineet:
            %th
        %tbody
      
       
        
      .span8  
        = f.submit "Luo resepti", class: "btn btn-large btn-primary"
    
