= link_to request.env["HTTP_REFERER"] do
  %i.icon-arrow-left
  Takaisin
  |
  - if @material and @material.bakery
    = link_to "Oma sivu", :controller => "bakeries", :action => "show", :id => @material.bakery.id
  - elsif @firm
    = link_to "Oma sivu", :controller => "firms", :action => "show", :id => @firm.resource.id
  - elsif @substance and @substance.huslab
    = link_to "Oma sivu", :controller => "huslabs", :action => "show", :id => @substance.huslab.id
  - elsif @batch and @batch.substance.huslab
    = link_to "Oma sivu", :controller => "huslabs", :action => "show", :id => @batch.substance.huslab.id
  - elsif @eluate and @eluate.huslab
    = link_to "Oma sivu", :controller => "huslabs", :action => "show", :id => @eluate.huslab.id
  - else
    = link_to "Oma sivu", :controller => "huslabs", :action => "show", :id => @huslab.id
