= provide(:title, 'Asiakkaat')

%h1 Asiakkaat

.container
  .span8.offset2
    = render "shared/nav"

= will_paginate

.container
  .span8.offset2.bordered
    %table.table
      %thead
        %th Nimi
        %th.span2 Puhelinnumero
        %th.span3 Osoite
        %th Kaupunki
        
      %tbody
        - @clients.each do |client|
          %tr
            %td= link_to client.name, client
            %td= client.phone
            %td= client.address
            %td= client.city
            %td
              = link_to :controller => "clients", :action => "edit", :id => client.id do
                %i.icon-edit

= will_paginate

.container
  .span8.offset2
    = link_to :controller => "clients", :action => "new", :firm_id => @firm.id do
      %i.icon-plus
      Lisää asiakas

