= provide(:title, 'Eluaatit')

%h1 Eluaatit

.container
  .span6.offset3
    = render "shared/nav"

= will_paginate

.container
  .span6.offset3.bordered

    %table.table#simpleTableWithoutSearch
      %thead
        %th Nimi
        %th Luotu
        %th Eluaatin radiolääkkeet
        %th

      %tbody
        - @eluates.each do |eluate|
          %tr
            %td= link_to eluate.name, eluate
            %td.span2= eluate.created.strftime("%d.%m.%Y %H:%M")
            %td
              - eluate.radiomedicines.each do |r|
                = link_to r.id.to_s+' ', r
            %td{:id => 'removalContainer'}
              = link_to 'Poista','', :onclick => 'revealRemoval(event,"eluates",'+eluate.id.to_s+')'

= will_paginate

