= provide(:title, 'Eluaatit')

%h1 Eluaatit

.container
  .span6.offset3
    = render "shared/nav"

= will_paginate

.container
  .span6.offset3.bordered

    %table.table.table-bordered#adminTableWithoutSearch
      %thead
        %th Generaattori
        %th Eränumero
        %th Luotu pvm
        %th Luotu klo
        %th Eluaatin radiolääkkeet
        %th

      %tbody
        - @eluates.each do |eluate|
          %tr
            %td= link_to eluate.generators[0].substance.product_name, eluate
            %td= eluate.generators[0].batchNumber
            %td.span2= eluate.created.strftime("%d.%m.%Y")
            %td.span2= eluate.created.strftime("%H:%M")
            %td
              - eluate.radiomedicines.each do |r|
                = link_to r.id.to_s+' ', r
            %td{:id => 'removalContainer'+eluate.id.to_s}
              = link_to 'Poista','', :onclick => 'revealRemoval(event,"eluates",'+eluate.id.to_s+')'

= will_paginate

