- provide(:title, 'Kirjaa eluaatti')
%h1 Kirjaa eluaatti

.container
  .span12
    = render "shared/nav"
    
.row
  .span12.outline
    = form_for @eluate do |f|

      .span4
        %fieldset.span3

          = f.label :name, "Nimi"
          = f.text_field :name
          = f.label :storagelocation_id, 'Varastopaikka'
          = f.select :storagelocation_id, @storagelocations.collect {|m| [ m.name, m.id ] }
          = f.label :radioactivity, 'Aktiivisuus'
          = f.text_field :radioactivity
          = f.label :volume, 'Tilavuus'
          = f.text_field :volume

          = fields_for @event do |e|
            = e.label :signature, 'Kirjaaja'
            = e.text_field :signature
            = e.label :user_timestamp, 'Aika'
            .input-append.date#datetimepicker-eluate
              = text_field_tag 'event[user_timestamp]', nil, { 'class' => 'span3', 'data-format' => 'dd/MM/yyyy hh:mm', :placeholder => 'PP/KK/VVVV tt:mm'}
              %span.add-on
                %i.icon-calendar{'data-time-icon' => 'icon-time', 'data-date-icon' => 'icon-calendar'}
            
            = #e.text_field :user_timestamp, :placeholder => 'PP/KK/VVVV tt:mm'

          = hidden_field_tag :huslab_id, @huslab.id

          = f.submit "Kirjaa eluaatti", class: "btn btn-primary"

      .span3
        %fieldset
          %label Generaattorit
          - values = @generators.collect {|m| [ m.infoForSelectBox, m.batch_id ] }

          = select("post", "generator_id", values, {:prompt => 'Valitse raaka-aine'})

          = fields_for :generator do |h|
            = h.label :amount, "Määrä"
            = h.text_field :amount, min: 0, class: "span2"

          = button_to_function "Lisää", "add_generator(event)", { :class => "btn btn-small", :id => "add-substance-generator" }

          %hr

          %label Apuaineet
          - values = @others.collect {|m| [ m.infoForSelectBox, m.batch_id ] }

          = select("post", "other_id", values, {:prompt => 'Valitse raaka-aine'})

          = fields_for :other do |h|
            = h.label :amount, "Määrä"
            = h.text_field :amount, min: 0, class: "span2"

          = button_to_function "Lisää", "add_other(event)", { :class => "btn btn-small", :id => "add-substance-other" }

      .span4

        %table.table.table#product_generators
          %thead.gray
            %th Lisättävät generaattorit:
            %th
        %tbody

        %table.table.table#product_others
          %thead.gray
            %th Lisättävät apuaineet:
            %th
        %tbody