- provide(:title, @eluate.name)

.container
  .span8.offset2
    = render "shared/nav"

.container
  .span8.offset2
    .row.bordered

      %h2.bordered-bottom= @eluate.name

      %h4 Generaattorit
      %table.table
        %thead
          %th Er채numero

          %tbody
            - @generators.each do |generator|
              %tr
                %td= link_to generator.batchNumber, generator
                %td
                  = link_to :controller => "batches", :action => "edit", :id => generator.id do
                    %i.icon-edit
                %td
                  = link_to generator, method: :delete, confirm: "Haluatko varmasti poistaa er채n?" do
                    %i.icon-remove

      %h4 Muut
      %table.table
        %thead
          %th Er채numero

          %tbody
            - @others.each do |other|
              %tr
                %td= link_to other.batchNumber, other
                %td
                  = link_to :controller => "batches", :action => "edit", :id => other.id do
                    %i.icon-edit
                %td
                  = link_to other, method: :delete, confirm: "Haluatko varmasti poistaa er채n?" do
                    %i.icon-remove

      = link_to :controller => "eluates", :action => "edit", :id => @eluate.id do
        %i.icon-edit
        Muokkaa

      %a.nav-link{href: "#", onclick: "window.print()"}
        %i.icon-print.margin-left10
        Tulosta
