- provide(:title, @eluate.name)

.container
  .span8.offset2
    = render "shared/nav"

.container
  .span8.offset2
    .row.bordered

      %h2.bordered-bottom= 'Eluaatti '+@eluate.name

      %dl.dl-horizontal
        %dt  Luotu
        %dd= @eluate.created.strftime("%H:%M %d.%m.%Y")
        %dt  Radioaktiivisuus
        %dd= @eluate.radioactivity.to_s
        %dt  Varastopaikka
        %dd= @eluate.storagelocation.name
        %dt  Kirjaaja
        %dd= @eluate.creator

      %h4 Käytetyt komponentit
      %table.table.table-bordered#tableForProducts
        %thead
          %th Tyyppi
          %th Aine
          %th Eränumero

          %tbody
            - @batches.each do |b|
              %tr
                - if b.substance.substanceType == 'Generaattori'
                  %td.alert.alert-success= b.substance.substanceType
                - elsif b.substance.substanceType == 'Kitti'
                  %td.alert.alert-info= b.substance.substanceType
                - else
                  %td.gray= b.substance.substanceType
                %td= link_to b.substance.genericName, b.substance
                %td= link_to b.batchNumber, b

      = link_to :controller => "eluates", :action => "edit", :id => @eluate.id do
        %i.icon-edit
        Muokkaa

      %a.nav-link{href: "#", onclick: "window.print()"}
        %i.icon-print.margin-left10
        Tulosta
