= provide(:title, 'Radiolääkkeet')

%h1 Radiolääkkeet

.container
  .span8.offset2
    = render "shared/nav"

= will_paginate

.container
  .span8.offset2.bordered

    %table.table
      %thead
        %th Nimi
        %th Luotu
        %th
        %th

      %tbody
        - @radiomedicines.each do |radiomedicine|
          %tr
            %td= link_to radiomedicine.name, radiomedicine
            %td.span2= radiomedicine.created.strftime("%d.%m.%Y %H:%M")
            %td
              = link_to :controller => "radiomedicines", :action => "edit", :id => radiomedicine.id do
                %i.icon-edit
            %td#removalContainer
              = link_to 'Poista', :onclick => 'revealRadiomedRemoval(event, radiomedicines,'+radiomedicine.id.to_s+')' do
                Poista radiolääke

= will_paginate

