= provide(:title, 'Radiol채채kkeet')

%h1 Radiol채채kkeet

.container
  .span8.offset2
    = render "shared/nav"

= will_paginate

.container
  .span8.offset2.bordered

    %table.table.table-bordered#simpleTableWithoutSearch
      %thead
        %th Nimi
        %th Luotu
        %th

      %tbody
        - @radiomedicines.each do |radiomedicine|
          %tr
            %td= link_to radiomedicine.name, radiomedicine
            %td.span2= radiomedicine.created.strftime("%d.%m.%Y %H:%M")
            %td{:id => 'removalContainer'}
              = link_to 'Poista','', :onclick => 'revealRemoval(event,"radiomedicines",'+radiomedicine.id.to_s+')'

= will_paginate

