= provide(:title, 'Radioaktiiviset lääkkeet')

%h1 Radioaktiiviset lääkkeet

.container
  .span8.offset2
    = render "shared/nav"

= will_paginate

.container
  .span8.offset2.bordered

    %table.table.table-bordered#adminTableWithoutSearch
      %thead
        %th Kitti
        %th Eränumero
        %th Luotu pvm
        %th Luotu klo
        %th

      %tbody
        - @radiomedicines.each do |radiomedicine|
          %tr
            %td= link_to radiomedicine.kits[0].substance.product_name, radiomedicine
            %td= radiomedicine.kits[0].batchNumber
            %td.span2= radiomedicine.created.strftime("%d.%m.%Y")
            %td.span2= radiomedicine.created.strftime("%H:%M")
            %td{:id => 'removalContainer'+radiomedicine.id.to_s}
              = link_to 'Poista','', :onclick => 'revealRemoval(event,"radiomedicines",'+radiomedicine.id.to_s+')'

= will_paginate

