- provide(:title, 'Kirjaa radiolääke')
%h1 Kirjaa radiolääke

.container
  .span6.offset3
    = render "shared/nav"

.row
  .span12.outline
    = form_for @radiomedicine do |f|

      .span4
        %fieldset.span3

          = f.label :name, "Nimi"
          = f.text_field :name
          = f.label :storagelocation_id, 'Varastopaikkka'
          = f.select :storagelocation_id, @storagelocations.collect {|m| [ m.name, m.id ] }
          = f.label :eluate_id, 'Eluaatti'
          = f.select :eluate_id, @eluates.collect {|m| [ m.name, m.id ] }

          = fields_for @event do |e|
            = e.label :signature, 'Kirjaaja'
            = e.text_field :signature
            = e.label :user_timestamp, 'Aika'
            = e.text_field :user_timestamp, :placeholder=> 'Syötä aika muodossa DD/MM/YYYY hh:mm'

          = hidden_field_tag :huslab_id, @huslab.id


          %label Muut
          - values = @others.collect {|m| [ m.infoForSelectBox, m.id ] }

          = select("post", "other_id", values, {:prompt => 'Valitse muu'})

          = fields_for :other do |h|
            = h.label :amount, "Syötä määrä"
            = h.text_field :amount, min: 0, class: "span2"

          = button_to_function "Lisää", "add_other(event)", :class => "btn btn-mini"

          = f.submit "Kirjaa radiolääke", class: "btn btn-primary"

      .span3
        %fieldset
          %label Kitit
          - values = @kits.collect {|m| [ m.infoForSelectBox, m.id ] }

          = select("post", "kit_id", values, {:prompt => 'Valitse kitti'})

          = fields_for :kit do |h|
            = h.label :amount, "Syötä määrä"
            = h.text_field :amount, min: 0, class: "span2"

          = button_to_function "Lisää", "add_kit(event)", :class => "btn btn-mini"

      .span4

        %table.table.table#product_others
          %thead.green
            %th Lisättävät apuaineet:
            %th
        %tbody

        %table.table.table#product_kits
          %thead.green
            %th Lisättävät kitit:
            %th
        %tbody

        %table.table.table#product_eluates
          %thead.green
            %th Lisättävät eluaattit:
            %th
        %tbody

