- provide(:title, @radiomedicine.name)

.container
  .span8.offset2
    = render "shared/nav"

.container
  .span8.offset2
    .row.bordered

      %h2.bordered-bottom= @radiomedicine.name

      %table.table
        %thead
          %th Er채numero

          %tbody
            - @generators.each do |generator|
              %tr
                %td= link_to generator.batchNumber, generator
                %td
                  = link_to :controller => "batches", :action => "edit", :id => generator.id do
                    %i.icon-edit
                %td
                  = link_to generator, method: :delete, confirm: "Haluatko varmasti poistaa er채n?" do
                    %i.icon-remove

      = link_to :controller => "batches", :action => "new", :radiomedicine_id => @radiomedicine.id do
        %i.icon-plus
        Lis채채 raaka-aine

      = link_to :controller => "radiomedicines", :action => "edit", :id => @radiomedicine.id do
        %i.icon-edit
        Muokkaa

      %a.nav-link{href: "#", onclick: "window.print()"}
        %i.icon-print.margin-left10
        Tulosta