- provide(:title, @radiomedicine.name)

.container
  .span8.offset2
    = render "shared/nav"

.container
  .span8.offset2
    .row.bordered

      %h2.bordered-bottom= 'Radiolääke '+@radiomedicine.name

      %dl.dl-horizontal
        %dt  Luotu
        %dd= @radiomedicine.created.strftime("%H:%M %d.%m.%Y")
        %dt  Radioaktiivisuus [GBq]
        %dd= @radiomedicine.radioactivity.to_s
        %dt  Tilavuus [ml]
        %dd= @eluate.volume
        %dt  Varastopaikka
        %dd= @radiomedicine.storagelocation.name
        %dt  Kirjaaja
        %dd= @radiomedicine.creator

      %h4 Käytetyt komponentit
      %table.table.table-bordered#tableForProducts
        %thead
          %th Tyyppi
          %th Aine
          %th Eränumero

          %tbody
            - @batches.each do |b|
              %tr
                %td= b.substance.substanceType
                %td= link_to b.substance.generic_name, b.substance
                -if b.substance.substanceType == 'Kitti' && b.qualityStatus == 'Ei suoritettu'
                  %td.span1.alert.alert{title:'Erälle ei ole tehty laadunvarmistusta!'}
                    = link_to b.batchNumber, b
                    %span.pull-right !
                -else
                  %td= b.batchNumber


      %h4 Eluaatti
      %table.table.table-bordered#tableForProducts
        %thead
          %th Nimi
          %th Luotu
          %th Aktiivisuus luontihetkellä

          %tbody
            %tr
              %td= link_to @eluate.name, @eluate
              %td= @eluate.created.strftime("%H:%M %d.%m.%Y")
              %td= @eluate.radioactivity


      = link_to :controller => "radiomedicines", :action => "edit", :id => @radiomedicine.id do
        %i.icon-edit
        Muokkaa

      %a.nav-link{href: "#", onclick: "window.print()"}
        %i.icon-print.margin-left10
        Tulosta