- provide(:title, 'Muokkaa erää')

.span6.offset3
  %h2= 'Muokkaa aineen '+@batch.substance.genericName+' erää '+@batch.batchNumber

.container
  .span6.offset3
    = render "shared/nav"

  .span6.offset3.outline
    .row
      .span4.offset1
        = form_for @batch do |f|
          //= render 'shared/material_error_messages'
          %p
            = f.label :batchNumber, "Eränumero"
            = f.text_field :batchNumber
            = f.label :qualityControl, "Laadunvalvonta"
            = f.select :qualityControl, ['OK','Ei OK', 'Ei suoritettu'], :selected => @batch.qualityStatus

            
          = f.submit "Tallenna", class: "btn btn-large btn-primary"
        
  .span6.offset3
    %p
      = link_to request.env["HTTP_REFERER"] do
        %i.icon-arrow-left
        Takaisin
      |
      = link_to "Kaikki erät", :controller => "batches", :action => "index", :substance_id => @substance.id
      |
      = link_to "Poista", @batch, method: :delete, confirm: "Haluatko varmasti poistaa erän?"
