- provide(:title, 'Luo erä')
%h1 Luo erä

.container
  .span6.offset3
    = render "shared/nav"
    
.row
  .span6.offset3.well
    = form_for @batch do |f|
      //= render 'shared/material_error_messages'
      %p
        = f.label :batchNumber, "Eränumero"
        = f.text_field :batchNumber
        = f.label :amount, "Määrä"
        = f.text_field :amount
        = fields_for @event do |e|
          = e.label :signature, 'Kirjaaja'
          = e.text_field :signature
          = e.label :user_timestamp, 'Aika'
          = e.text_field :user_timestamp, :placeholder=> 'Syötä aika muodossa DD/MM/YYYY hh:mm'
          
      = hidden_field_tag :substance_id, @substance.id
      
      = f.submit "Luo erä", class: "btn btn-large btn-primary"
