- provide(:title, 'Luo er채')
%h1 Luo er채

.container
  .span6.offset3
    = render "shared/nav"
    
.row
  .span6.offset3.well
    = form_for @batch do |f|
      //= render 'shared/material_error_messages'
      %p
        = f.label :batchNumber, "Er채numero"
        = f.text_field :batchNumber

          
      = hidden_field_tag :substance_id, @substance.id
      
      = f.submit "Luo er채", class: "btn btn-large btn-primary"
