- provide(:title, 'Luo erä')
%h1 Luo erä

.container
  .span6.offset3
    = render "shared/nav"
    
.row
  .span12.outline
    = form_for @batch do |f|
      //= render 'shared/material_error_messages'
      .span4
        %fieldset.span3
          = f.label :batchNumber, "Eränumero"
          = f.text_field :batchNumber
          = f.label :expDate, 'Viimeinen käyttöpäivä'
          = f.text_field :expDate
          = fields_for @event do |e|
            = e.label :signature, 'Kirjaaja'
            = e.text_field :signature
            = e.label :info, 'Kommentti'
            = e.text_field :info
            = e.label :user_timestamp, 'Vastaanottopäivä'
            = e.text_field :user_timestamp
          
          = hidden_field_tag :substance_id, @substance.id
      
        = f.submit "Luo erä", class: "btn btn-large btn-primary"
      .span3
        %fieldset
          %label Varastopaikat
          - values = @storagelocations.collect {|m| [ m.name, m.id ] }

          = select("post", "storagelocation_id", values, {:prompt => 'Valitse varastopaikka'})

          = fields_for :storagelocation do |h|
            = h.label :amount, "Syötä määrä"
            = h.text_field :amount, min: 0, class: "span2"

          = button_to_function "Lisää", "add_storagelocation(event)", :class => "btn btn-mini"

      .span4

        %table.table.table#product_storagelocations
          %thead.green
            %th Varastopaikat ja määrät:
            %th
        %tbody

