- provide(:title, @batch.batchNumber)

.container
  .span8.offset2
    = render "shared/nav"

.container
  .span8.offset2.bordered
    = link_to :controller => "batches", :action => "new", :substance_id => @substance.id do
      %i.icon-plus
      Lisää erä

    %table.table
      %thead
        %th Eränumero
        %th Laadunvarmistus
        %th Tyyppi
        %th Varastopaikat ja määrät
        %th
        %th

      %tbody
        %tr
          %td= link_to @batch.batchNumber, @batch
          -if @batch.substance.substanceType == 'Kitti' && @batch.qualityStatus == 'Ei suoritettu'
            %td{:id => 'qualityCheckContainer'}
              = link_to 'Tee laadunvarmistus','', :onclick => 'revealQualityCheckForm(event,'+@batch.id.to_s+')'
          -else
            %td= @batch.qualityStatus
          %td= @batch.substance.substanceType
          %td
            - @storagelocations.each do |storage|
              = storage.storageName + ': ' + storage.amount.to_s
              <br/>
          %td
            = link_to :controller => "batches", :action => "edit", :id => @batch.id do
              %i.icon-edit
          %td
            = link_to :controller => "batches", :action => "removal", :id => @batch.id do
              Poista erästä
