- provide(:title, @batch.batchNumber)

.container
  .span8.offset2
    = render "shared/nav"

.container
  .span8.offset2.bordered
    = link_to :controller => "batches", :action => "new", :substance_id => @substance.id do
      %i.icon-plus
      Lisää erä

    %table.table
      %thead
        %th Eränumero
        %th Tyyppi
        %th Varastopaikka
        %th Määrä

      %tbody
        %tr
          %td= link_to @batch.batchNumber, @batch
          %td= @batch.substance.substanceType
          - @storagelocations.each do |storage|
            %td= storage.storageName
            %td= storage.amount
          %td
            = link_to :controller => "batches", :action => "edit", :id => @batch.id do
              %i.icon-edit
          %td
            = link_to @batch, method: :delete, confirm: "Haluatko varmasti poistaa erän?" do
              %i.icon-remove
