- provide(:title, 'Luo varastopaikka')
%h1 Luo varastopaikka

.container
  .span6.offset3
    = render "shared/nav"
    
.row
  .span6.offset3.well
    = form_for @storagelocation do |f|
      //= render 'shared/material_error_messages'
      %p
        = f.label :name, "Nimi"
        = f.text_field :name
        = f.label :info, "Lisätietoja"
        = f.text_field :info
          
      = hidden_field_tag :huslab_id, @huslab.id
      
      = f.submit 'Luo varastopaikka', class: "btn btn-large btn-primary"
