- provide(:title, 'Varastotilanne')

.container
  .span12
    = render "shared/nav"

.container
  .span12
    .row.bordered
      %h2 Varastotilanne
      %table.table.table-bordered#storageTable
        %thead
          %tr
            %th Tyyppi
            %th Aine
            %th Erä
            %th Määrä
            %th Määrät varastopaikoittain
            %th Vanhenemis pvm
            %th Kommentti
        %tbody
          - @batches.each do |batch|
            %tr
              %td
                = batch.substance.substanceType
              %td
                = batch.substance.product_name
              -if batch.substance.substanceType == 'Kitti' && batch.qualityStatus == 'Ei suoritettu'
                %td.span1.alert.alert{title:'Erälle ei ole tehty laadunvarmistusta!'}
                  = link_to batch.batchNumber, batch
                  %span.pull-right !
              -elsif batch.substance.substanceType == 'Kitti' && batch.qualityStatus == 'Ei OK'
                %td.span1.alert.alert-error{title:'Erän laadunvarmistus EI OK!!'}
                  = link_to batch.batchNumber, batch
                  %span.pull-right !
              - else
                %td.span1
                  = link_to batch.batchNumber, batch

              -if batch.amount < batch.substance.alert_amount
                %td.span1.alert.alert{title:'Varastossa alle '+batch.substance.alert_amount.to_s+' kappaletta!'}
                  = batch.amount
                  %span.pull-right !
              - else
                %td.span1= batch.amount
              %td
                - batch.hasstoragelocations.each do |storage|
                  = storage.storagelocation.name+': '+ storage.amount.to_s
                  <br/>
              - if batch.expDate < Date.today
                %td.alert.alert-error{title:'Erän päiväys mennyt umpeen!'}
                  = batch.expDate
                  %span.pull-right !
              - elsif batch.substance.substanceType != 'Muu' && batch.expDate - batch.substance.alert_days.days < Date.today
                %td.alert.alert{title:'Erän päiväys menossa umpeen!'}
                  = batch.expDate
                  %span.pull-right !
              - else
                %td= batch.expDate
              %td
                = form_for :event, :url => {:action => "storeComment", :id => batch.storageComment.id} do |f|
                  = f.text_field :info, :value => batch.storageComment.info
                  = f.submit 'Kirjaa'






  %a.nav-link{href: "#", onclick: "window.print()"}
    %i.icon-print.margin-left10
    Tulosta
