- provide(:title, 'Varastotilanne')

.container
  .span12
    = render "shared/nav"

.container
  .span12
    .row.bordered
      %h2 Generaattorit
      %table.table.table-bordered.myTable
        %thead
          %tr
            %th Aine
            %th Erä
            %th Määrä yhteensä
            %th Määrät varastopaikoittain
            %th Vanhenemis pvm
        %tbody
          - @generators.each do |generator|
            - generator.batches.each do |batch|
              %tr
                %td
                  = generator.genericName
                %td
                  = link_to batch.batchNumber, batch
                -if batch.amount < 10
                  %td.alert.alert-error{title:'Varastossa alle 10 tuotetta!'}
                    = batch.amount
                    %span.pull-right !!!
                - else
                  %td= batch.amount
                %td
                  - batch.hasstoragelocations.each do |storage|
                    = storage.storagelocation.name+': '+ storage.amount.to_s
                    <br/>
                - if batch.expDate < Date.today
                  %td.alert.alert-error{title:'Erän päiväys mennyt umpeen!'}
                    = batch.expDate
                    %span.pull-right !!!
                - else
                  %td= batch.expDate

    .row.bordered
      %h2 Kitit
      - @kits.each do |kit|
        %h4
          = kit.genericName
        %table.table.table-bordered.myTable
          %thead
            %tr
              %th Erä
              %th Määrä yhteensä
              %th Varastopaikoissa
              %th Vanhenemis pvm
          %tbody
            - kit.batches.each do |batch|
              %tr
                %td
                  = link_to batch.batchNumber, batch
                -if batch.amount < 10
                  %td.alert.alert-error{title:'Varastossa alle 10 tuotetta!'}
                    = batch.amount
                    %span.pull-right !!!
                - else
                  %td= batch.amount
                %td
                  - batch.hasstoragelocations.each do |storage|
                    = storage.storagelocation.name+': '+ storage.amount.to_s
                    <br/>
                - if batch.expDate < Date.today
                  %td.alert.alert-error{title:'Erän päiväys mennyt umpeen!'}
                    = batch.expDate
                    %span.pull-right !!!
                - else
                  %td= batch.expDate

    .row.bordered
      %h2 Muut
      - @others.each do |other|
        %h4
          = other.genericName
        %table.table.table-bordered.myTable
          %thead
            %tr
              %th Erä
              %th Määrä yhteensä
              %th Varastopaikoissa
              %th Vanhenemis pvm
          %tbody
            - other.batches.each do |batch|
              %tr
                %td
                  = link_to batch.batchNumber, batch
                -if batch.amount < 10
                  %td.alert.alert-error{title:'Varastossa alle 10 tuotetta!'}
                    = batch.amount
                    %span.pull-right !!!
                - else
                  %td= batch.amount
                %td
                  - batch.hasstoragelocations.each do |storage|
                    = storage.storagelocation.name+': '+ storage.amount.to_s
                    <br/>
                - if batch.expDate < Date.today
                  %td.alert.alert-error{title:'Erän päiväys mennyt umpeen!'}
                    = batch.expDate
                    %span.pull-right !!!
                - else
                  %td= batch.expDate

  %a.nav-link{href: "#", onclick: "window.print()"}
    %i.icon-print.margin-left10
    Tulosta
