= provide(:title, 'Raaka-aineet')

%h1 Raaka-aineet

.container
  .span6.offset3
    = render "shared/nav"

= will_paginate

.container
  .span6.offset3.bordered
    = link_to :controller => "materials", :action => "new", :bakery_id => @bakery.id do
      %i.icon-plus
      Lisää raaka-aine
      
    %table.table
      %thead
        %th Nimi
        %th Kilohinta
        
      %tbody
        - @materials.each do |material|
          %tr
            %td= link_to material.name, material
            %td 
              = material.price
              €
            %td
              = link_to :controller => "materials", :action => "edit", :id => material.id do
                %i.icon-edit
            %td
              = link_to material, method: :delete, confirm: "Haluatko varmasti poistaa raaka-aineen?" do
                %i.icon-remove

= will_paginate

.container
  .span6.offset3
    = link_to :controller => "materials", :action => "new", :bakery_id => @bakery.id do
      %i.icon-plus
      Lisää raaka-aine

