- provide(:title, @material.name)

.container
  .span6.offset3
    = render "shared/nav"

.container
  .span6.offset3
    .row.well

      %h2.bordered-bottom= @material.name
      %h3.well Kilohinta: #{@material.price} € 
      
      %h4 Osana reseptejä:
      %table.table.table-striped
        %thead
          %th Resepti
          %th Veroton hinta (€)
          %th Verollinen hinta (€)
          
        %tbody
          - @material.recipes.each do |recipe|
            %tr
              %td= link_to recipe.name, recipe
              %td= link_to (recipe.get_price).round(2), recipe
              %td= link_to (recipe.get_price + (recipe.get_price * @tax)).round(2), recipe
              
      = link_to :controller => "materials", :action => "edit", :id => @material.id do
        %i.icon-edit
        Muokkaa
