- provide(:title, @material.name)

.container
  .span6.offset3
    = render "shared/nav"

.container
  .span6.offset3
    .row.well.green

      %h2.bordered-bottom= @material.name
      %h2 Hinta: #{@material.price} € 
      
      %table.table.table-striped
        %thead
          %th Osana reseptejä:
          %th Veroton hinta (€):
          %th Verollinen hinta (€):
          
        %tbody
          - @material.recipes.each do |recipe|
            %tr
              %td= link_to recipe.name, recipe
              %td= link_to (recipe.price).round(2), recipe
              %td= link_to (recipe.price + (recipe.price * @tax)).round(2), recipe
              
      = link_to :controller => "materials", :action => "edit", :id => @material.id do
        %i.icon-edit
        Muokkaa
