%table.table.table-bordered#reportTable1
  %thead
    %tr
      %th Aine
      %th Saapumispvm
      %th Erä
      %th Käyt. ennen
      %th Info

  %tbody
    - @arrivalEvents.each do |event|
      %tr
        -if event.getBatch
          %td
            = event.getBatch.substance.product_name
          %td
            = event.user_timestamp.strftime("%d.%m.%y")
          %td
            = event.getBatch.batchNumber
          %td
            = event.getBatch.expDate.strftime("%d.%m.%y")
          %td
            = event.info


