%table.table.table-bordered#reportTable3
  %thead
    %tr
      %th Nimi
      %th Luotu
      %th Tilavuus
      %th Radioaktiivisuus
      %th Kitit
      %th Muut
      %th Eluaatin tiedot
  %tbody
    - @radioMedEvents.each do |event|
      %tr
        %td
          = event.getRadiomedicine.name
        %td
          = event.user_timestamp.strftime("%d.%m.%y")
        %td
          = event.getRadiomedicine.volume
        %td
          = event.getRadiomedicine.radioactivity
        %td
          -event.getRadiomedicine.kits.each do |k|
            = k.substance.product_name+', '+k.batchNumber
            <br/>
        %td
          -event.getRadiomedicine.others.each do |o|
            = o.substance.product_name+', '+o.batchNumber
            <br/>
        %td
          = event.getRadiomedicine.eluate.name


