- provide(:title, 'Raportti')

.container
  .span12#reportnav
    = render "shared/nav"

.container
  .span12
    .row.bordered
      %h2= 'Raportti ajalta ' + @start + ' - '+ @end
      - if @arrivalEvents
        %h4 Saapuneet radiolääkkeet
        = render 'arrivals'
      - if @removalEvents
        %h4 Poistuneet radiolääkkeet
        = render 'removals'
      -if @kits
        %h4 Käyttökuntoon saatetut [lkm]
        = render 'products'
      -if @radioMedEvents
        %h4 Käyttökuntoon saatetut, yksityiskohdat
        = render 'product_details'







  %a.nav-link{href: "#", onclick: "window.print()"}
    %i.icon-print.margin-left10
    Tulosta
